.todo__list-add{
    margin-top: 20px;
    gap: 10px;
    opacity: 0.6;
    
    img {
        width: 10px;
        height: 10px;
    }
}
.list-popup{
    width: 235px;
    background: #FFFFFF;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    padding: 18px;
    position: relative;
    &__input{
        padding: 7px 11px 8px;
    }
    &__button{
        padding: 10px 11px 9px;
        margin-top: 13px;
    }
    &__button-hide{
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(40%, -40%);
        background-color: #5C5C5C;
        border-radius: 50%;
        border: none;
        width: 21px;
        height: 21px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s all;
        &:hover{
            background-color: darken($color: #5C5C5C, $amount: 10);
        }
        img{
            width: 9px;
            height: 9px;
        }
    }
    &__colors{
        display: flex;
        justify-content: space-between;
        margin-top: 13px;
        &-item{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            cursor: pointer;
            border: 2px solid transparent;
            &.active{
                border: 3px solid #525252;
            }
        }
    }
}

@media (max-width: 700px) { 
    .todo__list-add{
        width: 44px;
    }
}